@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --clr--red: hsl(4, 100%, 67%);
  --clr--blue-800: hsl(234, 29%, 20%);
  --clr--blue-700: hsl(235, 18%, 26%);
  --clr--grey: hsl(0, 0%,58%);
  --clr--white: hsl(0, 0%, 100%);
  --clr--hover-gradient: linear-gradient(135deg, #ff5476, #ff6938);
}

img{
    width: 100%;
    height: auto;
}

.signup-form{
    height: 100vh;
    color: var(--clr--blue-800);
}

.form-info{
    padding: 0 1.2rem;
    margin: 1.5rem 0;
}

.form-info > h1{
    font-size: clamp(2rem, 1.3rem + 2vw, 2.7rem);
}

.form-info > p{
    font-size: clamp(0.8rem, 0.7rem + 0.625vw, 1rem);
    font-weight: 500;
    margin: 1rem 0;
}

li{
    list-style: none;
    background: url(/images/icon-list.svg) center left no-repeat;
    padding-left: 2rem;
    margin: 0.5rem 0;
    font-size: clamp(0.8rem, 0.7rem + 0.625vw, 1rem);
}

form{
    margin: 1rem 0;
}

label{
    display: flex;
    font-weight: 600;
}

.error-msg{
    color: var(--clr--red);
    margin-inline-start: auto;
}

input{
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--clr--grey);
    border-radius: 0.5rem;
    margin: 0.5rem 0;

    &:hover{
        cursor: pointer;
        border: 1px solid var(--clr--blue-800);
    }
}

#submit-btn{
    margin: 1.5rem 0;
}

picture, img{
    max-width: 100%;
    height: auto;
}


/* SUCCESS MESSAGE STYLE */

.success-message{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.success-message *{
    margin: 1rem 0;
    color: var(--clr--blue-800);
}

.success-message > div > img{
    width: 3rem;
}

.success-message > div > h1{
    font-size: 2.7rem; /* use clamp */
}

.email-styling{
    font-weight: 700;
}

#dismiss-btn{
    color: var(--clr--white);
}

button{
    width: 100%;
    padding: 1rem;
    background: var(--clr--blue-800);
    color: var(--clr--white);
    border-radius: 0.6rem;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 
        box-shadow 0.3s ease;

    &:hover{
        cursor: pointer;
        background: var(--clr--hover-gradient);
        box-shadow: 0 10px 18px var(--clr--red);
    }
}


@media (min-width: 40rem) {

    body{
        background-color: var(--clr--blue-700);
        padding: 2rem;
    }

    .signup-form{
        max-width: 50rem; /* use clamp here */
        height: auto;
        display: flex;
        align-items: center;
        gap: clamp(0.6rem, 1rem);
        background: var(--clr--white);
        padding: clamp(0.8rem, 0.4rem + 0.625vw, 1rem);
        border-radius: 1rem;
    }

    .form-info{
        margin: 0;
        padding: 2rem;
        border-radius: 1rem;
    }

    picture{
        order: 1;
    }

    /* SUCCESS MESSAGE */

    .success-message{
        display: flex;
        flex-direction: column;
        width: 25rem;
        height: auto;
        background-color: var(--clr--white);
        padding: 2rem 3rem;
        border-radius: 2rem;
    }
}